/* =========================
   GLOBAL STYLES
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {

  font-family: 'Inter', sans-serif;

  background: #692b13;

  color: white;

  overflow-x: hidden;
}


img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
}

/* =========================
   NAVBAR
========================= */

.navbar {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  height: 85px;

  padding: 0 55px;

  display: flex;

  justify-content: space-between;
  align-items: center;

  background: rgba(12, 4, 0, .92);

  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, .08);

  z-index: 1000;
}

.logo {

  display: flex;

  align-items: center;

  gap: 14px;
}

.logo-box {

  width: 46px;
  height: 46px;

  background: #ff5a1f;

  border-radius: 14px;

  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 25px;
}

.logo h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #ffffff;
}

.logo h2 span {

  color: #ff5a1f;
}

.navbar nav ul {

  display: flex;

  gap: 45px;
}

.navbar nav ul li a {
  color: #efe9e9;
  font-size: 1rem;
  transition: .3s;
  font-style: bold;
  font-weight: 600;
  padding-left: 3px;
}

.navbar nav ul li a:hover {

  color: #ff5a1f;
  transform: translateY(-3px);
}

.nav-buttons {

  display: flex;

  gap: 18px;
}

.signin-btn {

  padding: 14px 25px;

  background: transparent;


  border: 2px solid rgba(255, 255, 255, 0.155);

  border-radius: 18px;

  color: #ff5a1f;

  cursor: pointer;

  font-size: 1rem;
}

.signin-btn:hover {
  border-color: #ff5a1f;

  color: white;
}

.admin-btn {

  padding: 14px 25px;

  border: none;

  border-radius: 18px;

  background: #ff5a1f;

  color: white;

  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

/* =========================
   HERO SECTION
========================= */

.hero {

  position: relative;
  --hero-image-opacity: 0.35;
  min-height: 100vh;
  padding-top: 100px;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .75));
  background-color: #0b0604;
}

.hero-overlay {

  position: absolute;

  inset: 0;

  background:
    radial-gradient(circle at right center,
      rgba(255, 90, 31, .18),
      transparent 45%);
  z-index: 1;

}

.hero-container {

  max-width: 1400px;

  margin: auto;

  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 70px;
  align-items: center;
  padding: 60px 60px 80px;
  position: relative;
  z-index: 2;
}

/* background image layer with adjustable opacity */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/hero-pizza.jpg");
  background-size: cover;
  background-position: center;
  opacity: var(--hero-image-opacity, 0.35);
  z-index: 0;
  pointer-events: none;
}

/* =========================
   LEFT CONTENT
========================= */

.delivery-badge {

  display: inline-flex;

  align-items: center;

  gap: 10px;

  padding: 12px 22px;

  border-radius: 999px;

  border: 1px solid rgba(255, 90, 31, .35);

  background: rgba(255, 90, 31, .08);

  color: #ff7b45;

  font-size: 1rem;

  margin-bottom: 35px;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  line-height: 1.05;
  font-weight: 700;
  color: #f4ece6;
  margin-bottom: 24px;
}

.orange-text {

  color: #ff4d0f;
}

.hero-content em {

  color: #ff7a2f;

  font-style: italic;
}

.hero-content p {
  font-size: 1rem;
  color: #b8957d;
  line-height: 1.7;
  max-width: 700px;
  margin-bottom: 28px;
}

/* =========================
   BUTTONS
========================= */

.hero-buttons {

  display: flex;

  gap: 18px;

  margin-bottom: 50px;
}

.order-btn {

  padding: 18px 36px;

  background: #ff5a1f;

  color: white;

  border: none;

  border-radius: 18px;

  font-size: 1.1rem;

  font-weight: 600;

  cursor: pointer;
}

.menu-btn {

  padding: 18px 36px;

  background: transparent;

  border: 1px solid rgba(255, 255, 255, .12);

  color: white;

  border-radius: 18px;

  font-size: 1.1rem;

  cursor: pointer;
}

.order-btn:hover {

  transform: translateY(-2px);
}

.menu-btn:hover {

  border-color: #ff5a1f;
}

/* =========================
   CUSTOMER RATING
========================= */

.customer-row {

  display: flex;

  align-items: center;

  gap: 22px;
}

.avatars {

  display: flex;
}

.avatar {

  width: 48px;
  height: 48px;

  border-radius: 50%;

  border: 3px solid #080301;

  margin-left: -12px;
}

.avatar:first-child {
  margin-left: 0;
}

.avatar-1 {
  background: #ff4d0f;
}

.avatar-2 {
  background: #ff8a1f;
}

.avatar-3 {
  background: #ffd13d;
}

.avatar-4 {
  background: #42d392;
}

.stars {

  color: #ff8f1f;

  font-size: 1.2rem;

  margin-bottom: 6px;
}

.rating-content p {

  color: #c4a389;
}

/* =========================
   HERO IMAGE
========================= */

.hero-image-area {

  position: relative;
}

.hero-image-area img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, .45);
}

/* =========================
   LIVE TRACKING BADGE
========================= */

.tracking-badge {

  position: absolute;

  top: 20px;
  right: 20px;

  background: #111;

  color: white;

  padding: 14px 24px;

  border-radius: 999px;

  display: flex;

  align-items: center;

  gap: 10px;

  z-index: 2;
}

.green-dot {

  width: 10px;
  height: 10px;

  background: #16c47f;

  border-radius: 50%;
}

/* =========================
   DELIVERY CARD
========================= */

.delivery-card {

  margin-top: 20px;

  background: #140803;

  border: 1px solid rgba(255, 255, 255, 0.138);

  border-radius: 24px;

  padding: 12px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 20px;
}

.delivery-icon {

  width: 50px;
  height: 50px;

  background: #ff5a1f;

  border-radius: 13px;

  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 24px;
}

.delivery-info {

  flex: 1;
}

.delivery-info h4 {

  margin-bottom: 6px;

  font-size: 1.15rem;
}

.delivery-info p {

  color: #b8957d;
}

.delivery-status {

  background: #103827;

  color: #27ee87;

  padding: 10px 15px;

  border-radius: 25px;

  font-size: .9rem;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:1100px) {

  .hero-container {

    grid-template-columns: 1fr;
  }

  .hero-content h1 {

    font-size: 4.8rem;
  }
}

@media(max-width:768px) {

  .navbar {

    padding: 0 20px;
  }

  .navbar nav {

    display: none;
  }

  .hero-content h1 {

    font-size: 3.5rem;
  }

  .hero-content p {

    font-size: 1.1rem;
  }

  .hero-buttons {

    flex-direction: column;
  }

  .delivery-card {

    flex-direction: column;
    align-items: flex-start;
  }
}

/* ===================================
STATISTICS SECTION
=================================== */

.stats-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;

  padding: 70px 10%;

  background: #140803;

  border-top: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

}

.stat-item {
  text-align: center;
}

.stat-item h2 {
  font-size: 3rem;

  color: #ff5a1f;

  font-family: 'Playfair Display', serif;

  margin-bottom: 15px;

}

.stat-item p {
  color: #b8957d;

  font-size: 1.2rem;

}

/* ===================================
WHY PIZZORA SECTION
=================================== */

.why-pizzora {
  padding: 130px 12%;

  background: #090402;

  text-align: center;

}

.section-tag {

  color: #ff5a1f;

  letter-spacing: 2px;

  font-size: 1.2rem;

  margin-bottom: 35px;

}

.why-pizzora h2 {

  font-size: 4.3rem;

  color: #f4ece6;

  font-family: 'Playfair Display', serif;

  margin-bottom: 90px;
}

.why-pizzora h2 span {
  color: #ff4d0f;
}

/* ===================================
FEATURE GRID
=================================== */

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: stretch;
}

.feature-card {
  background: #170904;
  border: 1px solid rgba(255, 120, 60, .12);
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  transition: .28s;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.feature-card:hover {
  transform: translateY(-6px);
  border-color: #ff5a1f;
}


.feature-icon {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b1208;
  border-radius: 14px;
  font-size: 22px;
  margin-bottom: 18px;
}

.feature-card h3 {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.feature-card p {
  color: #b8957d;
  font-size: 0.98rem;
  line-height: 1.6;
  margin: 0;
}

/* ===================================
RESPONSIVE
=================================== */

@media(max-width:1200px) {
  .features-grid {

    grid-template-columns: repeat(2, 1fr);
  }

  .stats-section {

    gap: 60px;
    flex-wrap: wrap;
  }

}

@media(max-width:768px) {
  .features-grid {

    grid-template-columns: 1fr;
  }

  .why-pizzora h2 {

    font-size: 2.8rem;
  }

  .stats-section {

    flex-direction: column;
  }
}

/* =====================================
   MENU SECTION
===================================== */

.menu-section {

  padding: 100px 12%;

  background: #090402;
}

.menu-header {

  display: flex;

  justify-content: space-between;

  align-items: end;

  margin-bottom: 70px;
}

.menu-title span {

  color: #ff5a1f;

  font-size: 1.15rem;

  letter-spacing: 2px;
}

.menu-title h2 {

  margin-top: 25px;

  font-size: 3rem;

  color: #f4ece6;

  font-family: 'Playfair Display', serif;
}

/* =============================
   FILTER BUTTONS
============================= */

.menu-filters {

  display: flex;

  gap: 14px;
}

.filter-btn {

  padding: 12px 26px;

  border-radius: 999px;

  border: 1px solid rgba(255, 120, 60, .18);

  background: #682a13;

  color: #b8957d;

  cursor: pointer;

  transition: .3s;
}

.filter-btn:hover {

  border-color: #ff5a1f;

  color: white;
}

.filter-btn.active {

  background: #ff4d0f;

  color: white;

  border-color: #ff4d0f;
}

/* =============================
   CARD GRID
============================= */

.pizza-grid {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 28px;
}

/* =============================
   CARD
============================= */

.pizza-card {

  background: #140803;

  border-radius: 26px;

  overflow: hidden;

  border: 1px solid rgba(255, 120, 60, .10);

  transition: .35s;
}

.pizza-card:hover {

  transform: translateY(-12px);

  border-color: #ff5a1f;
}

/* =============================
   IMAGE
============================= */

.pizza-image {

  position: relative;

  overflow: hidden;

  height: 220px;
}

.pizza-image img {

  width: 100%;

  height: 100%;

  object-fit: cover;

  transition: .6s;
}

.pizza-card:hover .pizza-image img {

  transform: scale(1.08);
}

/* =============================
   BADGES
============================= */

.pizza-badge {

  position: absolute;

  top: 18px;
  left: 18px;

  background: #ff4d0f;

  color: white;

  padding: 8px 16px;

  border-radius: 999px;

  font-size: .9rem;

  z-index: 10;

  font-weight: 600;
}

.spicy {

  background: #ff5a1f;
}

.seller {

  background: #ff5a1f;
}

/* =============================
   CONTENT
============================= */

.pizza-content {

  padding: 20px;
}

.pizza-content h3 {

  font-size: 1.2rem;

  color: white;

  margin-bottom: 6px;
}

.pizza-content p {

  color: #b8957d;

  line-height: 1.3;

  min-height: 25px;
}

/* =============================
   PRICE + BUTTON
============================= */

.pizza-footer {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 20px;
}

.price {

  font-size: 1.5rem;

  color: #ff6a1f;

  font-family: 'Playfair Display', serif;

  font-weight: 700;
}

.add-btn {

  padding: 12px 20px;

  border-radius: 14px;

  border: 1px solid #ff5a1f;

  background: transparent;

  color: #ff5a1f;

  cursor: pointer;

  transition: .3s;
}

.add-btn:hover {

  background: #ff5a1f;

  color: white;
}

/* =============================
   RESPONSIVE
============================= */

@media(max-width:1300px) {

  .pizza-grid {

    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:768px) {

  .menu-header {

    flex-direction: column;

    align-items: flex-start;

    gap: 30px;
  }

  .menu-title h2 {

    font-size: 3rem;
  }

  .pizza-grid {

    grid-template-columns: 1fr;
  }

  .menu-filters {

    flex-wrap: wrap;
  }
}

/* =====================================
   CTA SECTION
===================================== */

.cta-section {

  padding: 140px 20px;

  text-align: center;

  background:
    radial-gradient(circle at center,
      rgba(255, 90, 31, .10),
      transparent 60%),
    #090402;

  border-top: 1px solid rgba(255, 255, 255, .04);
}

.cta-container {

  max-width: 900px;

  margin: auto;
}

.cta-tag {

  display: inline-block;

  color: #ff5a1f;

  letter-spacing: 2px;

  font-size: 1rem;

  margin-bottom: 20px;
}

.cta-container h2 {

  font-family: 'Playfair Display', serif;

  font-size: 3.6rem;

  line-height: 1.15;

  color: #f4ece6;

  margin-bottom: 20px;
}

.highlight-number {

  color: #ff4d0f;

  font-style: italic;
}

.highlight-italic {

  color: #ff4d0f;

  font-style: italic;

  font-weight: 500;
}

.cta-container p {

  max-width: 700px;

  margin: auto;

  color: #b8957d;

  font-size: 1rem;

  line-height: 1.7;

  margin-bottom: 30px;
}

.cta-buttons {

  display: flex;

  justify-content: center;

  gap: 18px;

  flex-wrap: wrap;
}

.cta-order-btn {

  padding: 18px 34px;

  border: none;

  border-radius: 18px;

  background: #ff5a1f;

  color: white;

  font-size: 1.05rem;

  cursor: pointer;

  transition: .3s;
}

.cta-order-btn:hover {

  transform: translateY(-3px);
}

.cta-admin-btn {

  padding: 18px 34px;

  border-radius: 18px;

  background: transparent;
  font-size: medium;
  font-style: semi-bold;

  color: white;

  border: 1px solid rgba(255, 255, 255, .12);

  cursor: pointer;
  transition: .3s;
}

.cta-admin-btn:hover {

  border-color: #ff5a1f;
  color: white;
  transform: translateY(-3px );
  
}

/* =====================================
   FOOTER
===================================== */

.footer {

  min-height: 65px;

  padding: 0 12%;

  background: #090402;

  border-top: 1px solid rgba(255, 255, 255, 0.203);

  display: flex;

  justify-content: space-between;

  align-items: center;
}

/* LEFT */

.footer-left {

  display: flex;

  align-items: center;

  gap: 12px;
}

.footer-logo-box {

  width: 34px;
  height: 34px;

  background: #ff5a1f;

  border-radius: 10px;

  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 16px;
}

.footer-left h3 {

  font-family: 'Playfair Display', serif;

  color: white;

  font-size: 1.7rem;
}

.footer-left h3 span {

  color: #ff5a1f;
}

/* CENTER */

.footer-center {

  color: #b8957d;

  font-size: 1rem;
}

/* RIGHT */

.footer-right {

  display: flex;

  gap: 30px;
}

.footer-right a {

  color: #b8957d;

  transition: .3s;
}

.footer-right a:hover {

  color: #ff5a1f;
}

@media(max-width:900px) {

  .cta-container h2 {

    font-size: 3rem;
  }

  .footer {

    flex-direction: column;

    gap: 20px;

    padding: 40px 20px;

    text-align: center;
  }

  .footer-right {

    gap: 20px;
  }
}